
table{
	border-collapse: collapse;
}

th, td{
	  padding-right: 4em;
	  border-left: none;
  	  border-right: none;
  	  border-top: none;
}

th{
	border-bottom: 1px solid black;
}

td{
	padding-top: 0.8em;
	border-bottom: 1px solid gray;
	width: 11%;
}


.commande-submit-button{
	margin-right: 1em;
	border-radius: 4px; /* Rounded borders */
	background-color: wheat; /* Rounded borders */
  	border: 1px solid #ccc; /* Gray Color border */
  	color: white;
    
}

.commande-display-button{
	margin: 1em;
	background-color: white; /* Rounded borders */
  	border: 0px;
  	color: #42A948;
  	font-size: 2em;
	font-weight: 10;
  
}
