<app-message-modal *ngIf="displayMessageModal" [messageModal]="messageModal"></app-message-modal>

<button class="cancel-button" (click)="onBack()">
    <mat-icon>home</mat-icon>
</button>
<button class="det-button" (click)="onArtDet(article.idArt)">
    <mat-icon>west</mat-icon>
</button>
<button class="cancel-button" (click)="onCommande()">
    <mat-icon>shopping_cart</mat-icon>
</button>
<br><br>

<span class="bold">Achat de l'article "{{article.libelArt}}"</span>
<br><br>
<div class="row">

    <div class="col-xs-4">
        <p class="soustitre">En gros</p>
        <form [formGroup]="achatFormGros" (ngSubmit)="onAchat()">
            <div class="form-group">
                <input type="number" id="quantAchatGros" placeholder="Quantité achetée ({{article.comHebd}}?)"
                    class="form-control" formControlName="quantAchatGros"><br>
                <button class="article-submit-button" type=submit [disabled]="achatFormGros.invalid">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
        </form>
    </div>
    <div class="col-xs-4">
        <p class="soustitre">En détail</p>
        <form [formGroup]="achatFormDet" (ngSubmit)="onAchat()">
            <div class="form-group">
                <input type="number" id="quantAchatDet" placeholder="Quantité achetée" class="form-control"
                    formControlName="quantAchatDet"><br>
                <button class="article-submit-button" type=submit [disabled]="achatFormDet.invalid">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>
<br>
<span class="bold">Vente de l'article "{{article.libelArt}}"</span>
<br><br>
<div class="row">
    <div class="col-xs-4">
        <p class="soustitre">En gros</p>
        <form [formGroup]="venteFormGros" (ngSubmit)="onVente()">
            <div class="form-group">
                <input type="number" id="prixVenteGros" placeholder="Vendu au prix" class="form-control"
                    formControlName="prixVenteGros"><br>
                <input type="number" id="quantVenteGros" placeholder="Quantité vendue" class="form-control"
                    formControlName="quantVenteGros"><br>
                <button class="article-submit-button" type=submit [disabled]="venteFormGros.invalid">
                    <mat-icon>done</mat-icon>
                </button>

            </div>
        </form>
    </div>

    <div class="col-xs-4">
        <p class="soustitre">En détail</p>
        <form [formGroup]="venteFormDet" (ngSubmit)="onVente()">
            <div class="form-group">
                <input type="number" id="prixVenteDet" placeholder="Vendu au prix" class="form-control"
                    formControlName="prixVenteDet"><br>
                <input type="number" id="quantVenteDet" placeholder="Quantité vendue" class="form-control"
                    formControlName="quantVenteDet"><br>
                <button class="article-submit-button" type=submit [disabled]="venteFormDet.invalid">
                    <mat-icon>done</mat-icon>
                </button>

            </div>
        </form>
    </div>
</div>