

.article-submit-button{
	
	border-radius: 4px; /* Rounded borders */
	background-color: #42A948; /* Rounded borders */
	height: 1.5em;
  	width: 15%;
	border: 0px;
	color: white;
	font-size: 20px;
	position: relative;
  	
}

.bold {	
	font-weight:bold;
	font-size: large;
}


.cancel-button, .det-button{
	margin: 2em;
	width: 5%;
	font-size: 12px;	 	
	border: 0,5px;
}

.cancel-button {
	background-color: wheat;
}

.det-button{
	background-color: #ee7606e5;
}

.article-submit-button:hover, .clear-form-button:hover{
	cursor: pointer;
}

.soustitre {
	color: #ee7606e5;
	font-size: 18px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}


span{
	
	color: #42A948;
	margin: 3em;
	font-weight: bold;
	font-size: 20px;
	
}
