<div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <button
          class="list-group-item"
          *ngFor="let article of articles; let i = index"
          (click)="onViewArticle(i)">
          <h3 class="list-group-item-heading" [ngStyle]="{color: getColor(i)}">
            {{ article.libelArt }}
            <div
            *ngIf="article.stockArt === 0"> <button class="btn btn-default pull-right" (click)="onDeleteArticle(article)">
              <span class="glyphicon glyphicon-minus"></span>
            </button></div>
            <div>
            <button class="btn btn-default pull-right" (click)="onChangeArticle(i)">
              <span class="glyphicon glyphicon-plus"></span>
            </button></div>
          </h3>
          <p class="list-group-item-text">{{ article.categorieArt }}</p>
          <p class="list-group-item-text">Quantité disponible : {{article.stockArt}} </p>
        </button>
      </div>
      </div>
  </div>

  
